.frameChild {
  height: 316px;
  flex: 1;
  position: relative;
  border-radius: var(--br-18xl);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.dog,
.frameItem {
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.dog {
  bottom: 17px;
  left: calc(50% - 23px);
  letter-spacing: 0.11em;
  line-height: 125%;
  font-weight: 800;
  display: inline-block;
}
.frameItem {
  height: 92px;
  width: 85px;
  right: 0;
  bottom: -17px;
  overflow: hidden;
  flex-shrink: 0;
}
.rectangleParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.component2Child {
  width: 100%;
  height: 59px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 var(--br-18xl) var(--br-18xl);
  background-color: var(--color-gray-200);
  z-index: 1;
}
.component2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl) 0 0;
  position: relative;
  flex-shrink: 0;
  debug_commit: 69da668;
}
.frameInner {
  height: 316px;
  flex: 1;
  position: relative;
  border-radius: var(--br-18xl);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.dog1,
.frameIcon {
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.dog1 {
  bottom: 17px;
  left: calc(50% - 23px);
  letter-spacing: 0.11em;
  line-height: 125%;
  font-weight: 800;
  display: inline-block;
}
.frameIcon {
  height: 92px;
  width: 85px;
  right: 0;
  bottom: -17px;
  overflow: hidden;
  flex-shrink: 0;
}
.rectangleGroup {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.component6Child {
  width: 100%;
  height: 59px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 var(--br-18xl) var(--br-18xl);
  background-color: var(--color-gray-200);
  z-index: 1;
}
.component6 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl) 0 0;
  position: relative;
  flex-shrink: 0;
  debug_commit: 69da668;
}
.rectangleIcon {
  height: 316px;
  flex: 1;
  position: relative;
  border-radius: var(--br-18xl);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.dog2,
.frameChild1 {
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.dog2 {
  height: 25px;
  width: 48px;
  bottom: 17px;
  left: calc(50% - 23px);
  letter-spacing: 0.11em;
  line-height: 125%;
  font-weight: 800;
  display: inline-block;
}
.frameChild1 {
  height: 92px;
  width: 85px;
  right: 0;
  bottom: -17px;
  overflow: hidden;
  flex-shrink: 0;
}
.rectangleContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.component3Child {
  height: 59px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 var(--br-18xl) var(--br-18xl);
  background-color: var(--color-gray-200);
  z-index: 1;
}
.component2Parent,
.component3 {
  align-self: stretch;
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  debug_commit: 69da668;
}
.component3 {
  flex-direction: row;
  padding: var(--padding-6xl) 0 0;
  position: relative;
}
.component2Parent {
  height: 1080px;
  flex-direction: column;
  padding: 0 0 238px;
  box-sizing: border-box;
  gap: 28.5px;
}
.frameChild2 {
  height: 316px;
  flex: 1;
  position: relative;
  border-radius: var(--br-18xl);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.dog3,
.frameChild3 {
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.dog3 {
  height: 25px;
  width: 48px;
  bottom: 17px;
  left: calc(50% - 23px);
  letter-spacing: 0.11em;
  line-height: 125%;
  font-weight: 800;
  display: inline-block;
}
.frameChild3 {
  height: 92px;
  width: 85px;
  right: 0;
  bottom: -17px;
  overflow: hidden;
  flex-shrink: 0;
}
.frameDiv {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.component4Child {
  height: 59px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 var(--br-18xl) var(--br-18xl);
  background-color: var(--color-gray-200);
  z-index: 1;
}
.component4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl) 0 0;
  position: relative;
  flex-shrink: 0;
  debug_commit: 69da668;
}
.frameChild4 {
  height: 316px;
  flex: 1;
  position: relative;
  border-radius: var(--br-18xl);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.dog4,
.frameChild5 {
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.dog4 {
  height: 25px;
  width: 48px;
  bottom: 17px;
  left: calc(50% - 23px);
  letter-spacing: 0.11em;
  line-height: 125%;
  font-weight: 800;
  display: inline-block;
}
.frameChild5 {
  height: 92px;
  width: 85px;
  right: 0;
  bottom: -17px;
  overflow: hidden;
  flex-shrink: 0;
}
.rectangleParent1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.component5Child {
  height: 59px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 var(--br-18xl) var(--br-18xl);
  background-color: var(--color-gray-200);
  z-index: 1;
}
.component5,
.frameParent {
  align-self: stretch;
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.component5 {
  flex-direction: row;
  padding: var(--padding-6xl) 0 0;
  position: relative;
  debug_commit: 69da668;
}
.frameParent {
  height: 824px;
  background: linear-gradient(180deg, #bf3aaa, #5817e2);
  overflow-y: auto;
  flex-direction: column;
  padding: 67px 37px 0;
  box-sizing: border-box;
  gap: 19px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.rectangleDiv {
  height: 92px;
  width: 393px;
  position: relative;
  border-radius: 0 0 var(--br-18xl) var(--br-18xl);
  background-color: var(--color-gray-200);
  display: none;
  max-width: 100%;
}
.caughlackinlogo1Icon {
  margin-left: -15px;
  width: 422px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  debug_commit: 69da668;
  max-width: 108%;
  z-index: 2;
}
.frameHeader {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 0 0 var(--br-18xl) var(--br-18xl);
  background-color: var(--color-gray-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 4px;
  box-sizing: border-box;
  max-width: 100%;
  z-index: 1;
}
.caughtlackin1Icon,
.groupIcon {
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.caughtlackin1Icon {
  width: 167px;
  height: 167px;
  bottom: -55px;
  left: calc(50% - 83.5px);
  object-fit: contain;
}
.groupIcon {
  width: 33.7px;
  height: 25.3px;
  bottom: 22.7px;
  left: 44px;
  cursor: pointer;
}
.feed {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #bf3aaa, #5817e2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 9px 0 19px;
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
}
