@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-xl: 20px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray-100: #050505;

  /* Border radiuses */
  --br-11xl: 30px;
  --br-18xl: 37px;
}
