@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-lg: 18px;

  /* Colors */
  --color-black: #000;
  --color-white: #fff;
  --color-gray-100: #7e7d7d;
  --color-gray-200: #050505;

  /* Gaps */
  --gap-mid: 17px;
  --gap-10xl: 29px;

  /* Paddings */
  --padding-lgi: 19px;
  --padding-smi: 13px;
  --padding-xs: 12px;
  --padding-3xs: 10px;
  --padding-base: 16px;
  --padding-xl: 20px;
  --padding-7xl: 26px;
  --padding-54xl: 73px;
  --padding-6xl: 25px;

  /* Border radiuses */
  --br-11xl: 30px;
  --br-18xl: 37px;
}
