.component2Child {
  position: absolute;
  top: 25px;
  left: 0;
  border-radius: var(--br-18xl);
  width: 316px;
  height: 316px;
  object-fit: cover;
}
.component2Item {
  position: absolute;
  height: 17.3%;
  width: 100%;
  top: 82.7%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 var(--br-18xl) var(--br-18xl);
  background-color: var(--color-gray-200);
}
.dog {
  position: absolute;
  top: 299px;
  left: 135px;
  letter-spacing: 0.11em;
  line-height: 125%;
  font-weight: 800;
}
.component2Inner {
  position: absolute;
  top: 266px;
  left: 231px;
  width: 85px;
  height: 92px;
  overflow: hidden;
}
.component2,
.component6Child {
  position: absolute;
  top: 67px;
  left: 37px;
  width: 316px;
  height: 341px;
}
.component6Child {
  top: 25px;
  left: 0;
  border-radius: var(--br-18xl);
  height: 316px;
  object-fit: cover;
}
.component6Item {
  position: absolute;
  height: 17.3%;
  width: 100%;
  top: 82.7%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 var(--br-18xl) var(--br-18xl);
  background-color: var(--color-gray-200);
}
.dog1 {
  position: absolute;
  top: 299px;
  left: 135px;
  letter-spacing: 0.11em;
  line-height: 125%;
  font-weight: 800;
}
.component6Inner {
  position: absolute;
  top: 266px;
  left: 231px;
  width: 85px;
  height: 92px;
  overflow: hidden;
}
.component3Child,
.component6 {
  position: absolute;
  top: 436px;
  left: 37px;
  width: 316px;
  height: 341px;
}
.component3Child {
  top: 25px;
  left: 0;
  border-radius: var(--br-18xl);
  height: 316px;
  object-fit: cover;
}
.component3Item {
  position: absolute;
  height: 17.3%;
  width: 100%;
  top: 82.7%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 var(--br-18xl) var(--br-18xl);
  background-color: var(--color-gray-200);
}
.dog2 {
  position: absolute;
  top: 299px;
  left: 135px;
  letter-spacing: 0.11em;
  line-height: 125%;
  font-weight: 800;
}
.component3Inner {
  position: absolute;
  top: 266px;
  left: 231px;
  width: 85px;
  height: 92px;
  overflow: hidden;
}
.component3,
.component4Child {
  position: absolute;
  top: 806px;
  left: 37px;
  width: 316px;
  height: 341px;
}
.component4Child {
  top: 25px;
  left: 0;
  border-radius: var(--br-18xl);
  height: 316px;
  object-fit: cover;
}
.component4Item {
  position: absolute;
  height: 17.3%;
  width: 100%;
  top: 82.7%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 var(--br-18xl) var(--br-18xl);
  background-color: var(--color-gray-200);
}
.dog3 {
  position: absolute;
  top: 299px;
  left: 135px;
  letter-spacing: 0.11em;
  line-height: 125%;
  font-weight: 800;
}
.component4Inner {
  position: absolute;
  top: 266px;
  left: 231px;
  width: 85px;
  height: 92px;
  overflow: hidden;
}
.component4,
.component5Child {
  position: absolute;
  top: 1166px;
  left: 37px;
  width: 316px;
  height: 341px;
}
.component5Child {
  top: 25px;
  left: 0;
  border-radius: var(--br-18xl);
  height: 316px;
  object-fit: cover;
}
.component5Item {
  position: absolute;
  height: 17.3%;
  width: 100%;
  top: 82.7%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 var(--br-18xl) var(--br-18xl);
  background-color: var(--color-gray-200);
}
.dog4 {
  position: absolute;
  top: 299px;
  left: 135px;
  letter-spacing: 0.11em;
  line-height: 125%;
  font-weight: 800;
}
.component5Inner {
  position: absolute;
  top: 266px;
  left: 231px;
  width: 85px;
  height: 92px;
  overflow: hidden;
}
.component5 {
  position: absolute;
  top: 1526px;
  left: 37px;
  width: 316px;
  height: 341px;
}
.component2Parent,
.feedChild {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.component2Parent {
  height: 96.71%;
  top: 1.06%;
  bottom: 2.23%;
  background: linear-gradient(180deg, #bf3aaa, #5817e2);
  overflow-y: auto;
}
.feedChild {
  height: 10.8%;
  top: 0;
  bottom: 89.2%;
  border-radius: 0 0 var(--br-18xl) var(--br-18xl);
  background-color: var(--color-gray-200);
}
.caughlackinlogo1Icon {
  position: absolute;
  height: 10.33%;
  width: 107.38%;
  top: 0;
  right: -3.56%;
  bottom: 89.67%;
  left: -3.82%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.navbarIcon {
  height: 10.21%;
  width: 100.25%;
  top: 92.61%;
  right: 0;
  bottom: -2.82%;
  left: -0.25%;
}
.caughtlackin1Icon,
.groupIcon,
.navbarIcon {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.caughtlackin1Icon {
  height: 19.6%;
  width: 42.49%;
  top: 86.85%;
  right: 28.75%;
  bottom: -6.46%;
  left: 28.75%;
  object-fit: cover;
}
.groupIcon {
  height: 2.97%;
  width: 8.58%;
  top: 94.37%;
  right: 80.23%;
  bottom: 2.66%;
  left: 11.2%;
  cursor: pointer;
}
.feed {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #bf3aaa, #5817e2);
  height: 852px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
